/* Reset default margin and font */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f5ff;
  color: #333;
}

/* Wrapper for everything */
#all-contents {
  max-width: 900px;
  margin: auto;
  
}

/* Navigation bar styles */
nav {
  background-color: #6a5acd;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom:20px auto;
  display: flex;
  justify-content: space-between;
}


 h1 {
  margin: 0;
  font-size: 24px;
  display: flex;
  align-items:center;
}

#nav-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.nav-li{
  display:inline-block;
  padding:0 10px;
}

.nav-li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-li a:hover {
  text-decoration: underline;
}

/* Main section layout */
main {
  display: flex;
  margin-top: 20px;
}

/* Sidebar styles */
.sidebar {
  margin-right: 25px;
  padding: 10px;
}

.sidebar-img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
}

/* Content area */
.content {
  flex: 2;
}

/* interests section styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px;
}

/* Portfolio styles */
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}
/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}

